In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
placer = pd.read_csv('//content/drive/MyDrive/AI Hackathon/placer/placer.csv')

In [ ]:
placer

,Unnamed: 0,PCBID,RECIPENAME,SIDE,STARTTIME,ENDTIME,MODULENO,NUMCOMP,NUMBLOCKS,NUMERRORS
0,0,9056093030018024_0048_0001_0001_20220831235024472,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:44,2022-09-01 00:00:17,8.0,32.0,8.0,0.0
1,1,9056093030018048_0048_0001_0001_20220831235430535,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:18,5.0,72.0,8.0,0.0
2,2,9056093030017960_0048_0001_0001_20220831235851351,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:38,2022-09-01 00:00:20,2.0,168.0,8.0,0.0
3,3,9056093030017968_0048_0001_0001_20220831235947179,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:40,2022-09-01 00:00:31,1.0,208.0,8.0,0.0
4,4,9056093030017976_0048_0001_0001_20220831235553736,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:57,4.0,200.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...
731412,159768,1085425020003248,1184066-01_BFUJI,1.0,2022-12-22 21:23:06,2022-12-22 21:23:12,8.0,6.0,1.0,0.0
731413,159769,1085425020003244,1184066-01_BFUJI,1.0,2022-12-22 21:23:09,2022-12-22 21:23:20,9.0,12.0,1.0,0.0
731414,159770,1085425020003244,1184066-01_BFUJI,1.0,2022-12-22 21:23:38,2022-12-22 21:23:42,10.0,1.0,1.0,0.0
731415,159771,1085425020003248,1184066-01_BFUJI,1.0,2022-12-22 21:23:42,2022-12-22 21:23:54,9.0,12.0,1.0,0.0
731416,159772,1085425020003248,1184066-01_BFUJI,1.0,2022-12-22 21:24:12,2022-12-22 21:24:17,10.0,1.0,1.0,0.0

In [ ]:
placer['Furnace_ID'] = 0

In [ ]:
placer.head()

,Unnamed: 0,PCBID,RECIPENAME,SIDE,STARTTIME,ENDTIME,MODULENO,NUMCOMP,NUMBLOCKS,NUMERRORS,Furnace_ID
0,0,9056093030018024_0048_0001_0001_20220831235024472,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:44,2022-09-01 00:00:17,8.0,32.0,8.0,0.0,0
1,1,9056093030018048_0048_0001_0001_20220831235430535,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:18,5.0,72.0,8.0,0.0,0
2,2,9056093030017960_0048_0001_0001_20220831235851351,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:38,2022-09-01 00:00:20,2.0,168.0,8.0,0.0,0
3,3,9056093030017968_0048_0001_0001_20220831235947179,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:40,2022-09-01 00:00:31,1.0,208.0,8.0,0.0,0
4,4,9056093030017976_0048_0001_0001_20220831235553736,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:57,4.0,200.0,8.0,0.0,0

In [ ]:
placer[0:2]

,Unnamed: 0,PCBID,RECIPENAME,SIDE,STARTTIME,ENDTIME,MODULENO,NUMCOMP,NUMBLOCKS,NUMERRORS,Furnace_ID
0,0,9056093030018024_0048_0001_0001_20220831235024472,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:44,2022-09-01 00:00:17,8.0,32.0,8.0,0.0,0
1,1,9056093030018048_0048_0001_0001_20220831235430535,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:18,5.0,72.0,8.0,0.0,0

In [ ]:
placer['ENDTIME'] = pd.to_datetime(placer['ENDTIME'],utc=True)

In [ ]:
placer.dtypes

Unnamed: 0                  int64
PCBID                      object
RECIPENAME                 object
SIDE                      float64
STARTTIME                  object
ENDTIME       datetime64[ns, UTC]
MODULENO                  float64
NUMCOMP                   float64
NUMBLOCKS                 float64
NUMERRORS                 float64
Furnace_ID                  int64
dtype: object

In [ ]:
validation = pd.read_csv('/content/drive/MyDrive/AI Hackathon/validation_set.txt', sep=';', header = None)
validation.columns = ['time','energy','nitrogen_Nm3h']

In [ ]:
validation.head()

                        time      energy  nitrogen_Nm3h
0  2022-10-11 19:50:30+00:00   9019.3995      19.440000
1  2022-10-11 19:50:45+00:00   6296.4840      19.428333
2  2022-10-11 19:51:00+00:00  15479.6640      19.585000
3  2022-10-11 19:51:15+00:00  11585.6500      20.127692
4  2022-10-11 19:51:30+00:00   6701.3010      19.685000

In [ ]:
task_full_blanks = pd.read_csv('/content/drive/MyDrive/AI Hackathon/task_full_blanks.txt', sep=';', header = None)
task_full_blanks.columns = ['time','energy','nitrogen_Nm3h']

In [ ]:
task_full_blanks.head()

                        time      energy  nitrogen_Nm3h
0  2022-10-20 19:09:15+00:00  14657.1150      20.976364
1  2022-10-20 19:09:30+00:00   7826.5360      20.900000
2  2022-10-20 19:09:45+00:00   8878.1625      20.586154
3  2022-10-20 19:10:00+00:00   1874.1160      21.177500
4  2022-10-20 19:10:15+00:00  11829.6765      20.780000

In [ ]:
placer

,Unnamed: 0,PCBID,RECIPENAME,SIDE,STARTTIME,ENDTIME,MODULENO,NUMCOMP,NUMBLOCKS,NUMERRORS,Furnace_ID
0,0,9056093030018024_0048_0001_0001_20220831235024472,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:44,2022-09-01 00:00:17+00:00,8.0,32.0,8.0,0.0,0
1,1,9056093030018048_0048_0001_0001_20220831235430535,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:18+00:00,5.0,72.0,8.0,0.0,0
2,2,9056093030017960_0048_0001_0001_20220831235851351,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:38,2022-09-01 00:00:20+00:00,2.0,168.0,8.0,0.0,0
3,3,9056093030017968_0048_0001_0001_20220831235947179,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:40,2022-09-01 00:00:31+00:00,1.0,208.0,8.0,0.0,0
4,4,9056093030017976_0048_0001_0001_20220831235553736,1097922-00_NXT3_TL4,0.0,2022-08-31 23:59:48,2022-09-01 00:00:57+00:00,4.0,200.0,8.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
731412,159768,1085425020003248,1184066-01_BFUJI,1.0,2022-12-22 21:23:06,2022-12-22 21:23:12+00:00,8.0,6.0,1.0,0.0,0
731413,159769,1085425020003244,1184066-01_BFUJI,1.0,2022-12-22 21:23:09,2022-12-22 21:23:20+00:00,9.0,12.0,1.0,0.0,0
731414,159770,1085425020003244,1184066-01_BFUJI,1.0,2022-12-22 21:23:38,2022-12-22 21:23:42+00:00,10.0,1.0,1.0,0.0,0
731415,159771,1085425020003248,1184066-01_BFUJI,1.0,2022-12-22 21:23:42,2022-12-22 21:23:54+00:00,9.0,12.0,1.0,0.0,0
731416,159772,1085425020003248,1184066-01_BFUJI,1.0,2022-12-22 21:24:12,2022-12-22 21:24:17+00:00,10.0,1.0,1.0,0.0,0

In [ ]:
placer = placer[260224:327769]
del placer['Unnamed: 0']
del placer['Furnace_ID']

In [ ]:
placer

,PCBID,RECIPENAME,SIDE,STARTTIME,ENDTIME,MODULENO,NUMCOMP,NUMBLOCKS,NUMERRORS
260224,9781121080058881,1032367-03_NXT3_TL4,0.0,2022-10-11 19:52:44,2022-10-11 19:53:09+00:00,6.0,40.0,1.0,0.0
260225,9781121080058877,1032367-03_NXT3_TL4,0.0,2022-10-11 19:52:32,2022-10-11 19:53:10+00:00,1.0,165.0,1.0,1.0
260226,9781121080058880,1032367-03_NXT3_TL4,0.0,2022-10-11 19:52:57,2022-10-11 19:53:28+00:00,5.0,40.0,1.0,0.0
260227,9781121080058879,1032367-03_NXT3_TL4,0.0,2022-10-11 19:52:57,2022-10-11 19:53:31+00:00,4.0,75.0,1.0,0.0
260228,9781121080058878,1032367-03_NXT3_TL4,0.0,2022-10-11 19:53:04,2022-10-11 19:53:35+00:00,3.0,135.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
327764,9779275080026549,9054491-06_NXT3_TL4,0.0,2022-10-20 19:08:37,2022-10-20 19:08:46+00:00,4.0,18.0,2.0,0.0
327765,9779275080026543,9054491-06_NXT3_TL4,0.0,2022-10-20 19:08:35,2022-10-20 19:08:46+00:00,8.0,10.0,2.0,0.0
327766,9779275080026837,9054491-06_NXT3_TL4,0.0,2022-10-20 19:08:44,2022-10-20 19:08:49+00:00,1.0,6.0,2.0,0.0
327767,9779275080026835,9054491-06_NXT3_TL4,0.0,2022-10-20 19:08:45,2022-10-20 19:08:53+00:00,3.0,32.0,2.0,0.0
327768,9779275080026547,9054491-06_NXT3_TL4,0.0,2022-10-20 19:08:48,2022-10-20 19:08:58+00:00,6.0,20.0,2.0,0.0

In [ ]:
placer.reset_index(inplace=True, drop=True)
placer.index = placer.index
print(placer.head())

              PCBID           RECIPENAME  SIDE            STARTTIME  \
0  9781121080058881  1032367-03_NXT3_TL4   0.0  2022-10-11 19:52:44
1  9781121080058877  1032367-03_NXT3_TL4   0.0  2022-10-11 19:52:32
2  9781121080058880  1032367-03_NXT3_TL4   0.0  2022-10-11 19:52:57
3  9781121080058879  1032367-03_NXT3_TL4   0.0  2022-10-11 19:52:57
4  9781121080058878  1032367-03_NXT3_TL4   0.0  2022-10-11 19:53:04

                    ENDTIME  MODULENO  NUMCOMP  NUMBLOCKS  NUMERRORS
0 2022-10-11 19:53:09+00:00       6.0     40.0        1.0        0.0
1 2022-10-11 19:53:10+00:00       1.0    165.0        1.0        1.0
2 2022-10-11 19:53:28+00:00       5.0     40.0        1.0        0.0
3 2022-10-11 19:53:31+00:00       4.0     75.0        1.0        0.0
4 2022-10-11 19:53:35+00:00       3.0    135.0        1.0        0.0

placer

In [ ]:
validation = validation[0:16514]
validation.head()

                        time      energy  nitrogen_Nm3h
0  2022-10-11 19:50:30+00:00   9019.3995      19.440000
1  2022-10-11 19:50:45+00:00   6296.4840      19.428333
2  2022-10-11 19:51:00+00:00  15479.6640      19.585000
3  2022-10-11 19:51:15+00:00  11585.6500      20.127692
4  2022-10-11 19:51:30+00:00   6701.3010      19.685000

In [ ]:
validation['time'] = pd.to_datetime(validation['time'],utc=True)

<ipython-input-19-5afae144de4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  validation['time'] = pd.to_datetime(validation['time'],utc=True)

In [ ]:
print(placer.shape)

(67545, 9)

In [ ]:
print(validation.shape)

(16514, 3)

In [ ]:
placer["F_Data"]=None
for i in range(0,67545):
  for j in range(1,16514):
    if(placer.iloc[i]["ENDTIME"] < validation.iloc[j]["time"] and placer.iloc[i]["ENDTIME"] > validation.iloc[j-1]["time"]):
      placer.at[i, 'F_data'] = j
      break

<ipython-input-22-a3a70d56f125>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  placer["F_Data"]=None
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

KeyboardInterrupt: ignored

In [ ]:
placer

In [ ]:
from keras import models, layers

In [ ]:
x = placer.iloc['MODULENO','NUMCOMP','NUMBLOCKS','NUMERRORS']
y = placer.iloc[validation.iloc['F_data']]

In [ ]:
model = models.Sequential()
model.add(layers.Dense(4, activation = 'relu',input_shape = (4,)))
model.add(layers.Dense(16,activation='relu'))
model.add(layers.Dense(8,activation='relu'))
model.add(layers.Dense(2,activation='relu'))
model.compile(optimizer='rmsprop' ,loss='categorical_crossentropy', metrics = ['accuracy'])

In [ ]:
model.fit(x,y,epochs=5,batch_size=150)